    html {
        margin-left: 200px;
}

    body {
        background-color: beige;
        margin-left: 50px;
        padding-left: 50px;
        display: flex;
        flex-direction: row;
        z-index: 0;
        align: center;
        vertical-align: middle;
    }

    div {
        display: flex;
        flex-direction: row;
        z-index:1
    }

    .headline {
        width: 50%;
        margin: 50px;
        padding: 20px;
        text-align: center;
        color: red;
        background-color: teal;
        z-index: 2;
        display: flex;
        flex-direction: row;
    }

    div.form {
        border-radius: 8;
        display: flex;
        background-color: burlywood;
        flex-direction: row;
    }

    .headline {
        background-color: aqua;
        color: antiquewhite ;
    }

    section {
        background-color: burlywood;
    }

    .lamigra {
        border-color: black;
        border: 4px 4px 4px 4px;
    }
