/*#########################
    GLOBAL  RAW ELEMENTS
#########################*/
/*body
{
    background-color: burlywood;
    margin-left: 50px;
    padding-left: 50px;
    display: flex;
    z-index: 0;
    align: center;
    vertical-align: middle;

}*/

div
{
    padding: 10px;
}

section
{
    padding: 10px;
    background-color: burlywood;
}
/*#########################
    CUSTOM  CLASSES
#########################*/
.lamigra
{
    border-color: black;
    border: solid 1px 2px 4px 2px orangered ;
}
/* flex stuff */
.flex-container
{
    display: flex;
    flex-direction: column;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.flex-col
{
    display: flex;
    flex-direction: column;
}

/*  grid stuff   */

.grid-container
/*  3 rows - 5 columns
 ._._._._._.
 |_|_|_|_|_|
 |_|_|_|_|_|
 |_|_|_|_|_|
 */
{
    display: grid;
    gap: 20px;
    grid-template-rows: auto auto auto auto auto ;
    grid-template-columns: 30% 40% 30%;

}

/*  row 1    */
.grid-header
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-header-catchline
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
}

/*  Row 2   */
.under-construction
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.footer
{

/*  Row 3   */

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
/*  rando stuff  */
.floater
{
    text-shadow: 2px 0 2px blue,3px 0 3px darkblue;
}

.img-med
{
    height:200px;
    width: 300px;
    align-content: center;
}
/*#########################
    CUSTOM  NAMED   IDS
#########################*/

.somename
{
    opacity: 80%;
    drop-shadow: 2px 2px darkblue;
}




/*#########################
    CUSTOM  ELEMENTS
#########################*/
