    html {
        margin-left: 200px;
}

    body {
        background-color: beige;
        margin-left: 50px;
        display: flex;
    }

    div {
        display: flex;
    }

    div.headline {
        width: 50%;
        margin: 50px;
        padding: 20px;
        text-align: center;
        color: Blue;
        background-color: teal;
        z-index: 2;
        display: flex;

    }
    div.form {
        border-radius: 8;
        display: flex;
    }

    .headline {
        background-color: aqua;
        color: antiquewhite ;
    }

    section {
        background-color: burlywood;
    }

    .lamigra {
        border-color: black;
        border: 1px 2px 1px 2px;
    }