<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header::wheresYourHeadAt}">
  <title>Place Holder Title</title>
</head>
<!-- Start of Displayed Content -->
<body>
  <header>
      <h1 th:text = "${headLine}">This is a headline</h1>
    <nav>

    </nav>
  </header>
  <main>
      <div class="headLine">
          <section>
              <p th:text = "${infoPane}">
                  Generic Landing Page
              </p>
          </section>
      </div>
      <div>
        <img th:src="@{static/images/promos/dozer.png}" src="../static/images/promos/dozer.png" alt="Under Construction">
      </div>
      <div></div>
  </main>
  <footer>
      <sub th:text="${me}">Code By C0deFluence</sub>
  </footer>
</body>
</html>
