<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header::wheresYourHeadAt}">
  <title>Place Holder Title</title>
</head>
<!-- Start of Displayed Content -->
<body>
<header>
  <h1 th:text="Events">This is a headline</h1>
</header>
<main>
  <section>
    <p>
      <img th:href="${passingTime}" />
        Generic Landing Page
      </p>
  </section>
  <section>
    <p th:replace="~{fragments/header::EventList}">
  </section>

</main>
<footer>
  <sub th:text="JudgeLAN2024"></sub>
</footer>
</body>
</html>
