<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header::wheresYourHeadAt}">
  <title>Place Holder Title</title>
</head>
<!-- Start of Displayed Content -->
<body>
<header>
  <h1 th:text="${headline}">This is a headline</h1>
</header>
<main>
  <section><p th:text="${greeting}">Generic Landing Page</p></section>
  <div th:block>
    <ul th:each = "name : ${names}">
      <li th:text = "${name}"></li>
    </ul>
  </div>

</main>
<footer>
  <sub th:text = "${copyright}">Code By C0dEX</sub>
</footer>
</body>
</html>
